$background-color1: #eff1f5;
$background-color2: #dfe1e8;
$primary-text-color: #8F9DAA;
$secondary-text-color: #8F9DAA;
$tertiary-text-color: #8F9DAA;
$button-text-color: #8F9DAA;

$purple: #92407E;
$purple-hover: #783568;
