input[type='text'] {
  font-size: 2em;
  height: 2em;
  width: 100%;
  background-color: $background-color1;
  border: 1px solid $primary-text-color;
  color: $primary-text-color;
}

input[type=text].narrow {
  width: 85%;
}

fieldset {
  margin: 0 0 20px 0;
  font-size: 14px;
  border: none;
  padding-left: 0;
  text-align: left;
}

fieldset label {
  display: block;
  margin: 0 0 5px 0;
  font-weight: bold;
  color: $primary-text-color;
  font-size: 1.3em;
}

button {
  background: none repeat scroll 0 0;
  border: 1px solid $secondary-text-color;
  color: $secondary-text-color;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
}

button.large {
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 1.5em;
  height: 4em;
  vertical-align: bottom;
}

.ball1, .ball2, .ball3, .strike1, .strike2, .out1, .out2 {
  border: 1px solid $tertiary-text-color;
  color: $tertiary-text-color;
}